* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('2nd-webground.jpg');
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

#headLine {
  font-family: "Major Mono Display", monospace;
  /* font-size: 5rem; */
  margin: 20px;
  width: 90%;
}

#head-line {
  font-size: 10rem;
}

#art-block-1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* gap: 10px; */
  margin-left: 20px;
  margin-bottom: 20px;
  width: 90%;
  /* height: 1000px; */
}

img.art-pics {
  width: 80%;
  height: 80%;
  object-fit: cover;
  border-radius: 1rem;
}